---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const myHeaders = new Headers();
myHeaders.append("Content-Type", "application/x-www-form-urlencoded");
myHeaders.append("Authorization", "Basic dzBYV1dBTXVjNlRCRzFCQUxEYTZvbFBvY0FTVUJRYTFJMUY3R2FDWVpvZGhadWNrOjdFNG1NZmlScWJpd0xxeEd1ZEpBQTNkM0ZCandNMmtON3gwUkpMRFBzcm85U0N4TjRtUXJvVUlBVUlOV2dSRTI=");

const userID = "User17197694092505799707";
const urlencoded = new URLSearchParams();
urlencoded.append("grant_type", "client_credentials");

const requestOptions: RequestInit = {
  method: "POST",
  headers: myHeaders,
  body: urlencoded,
  redirect: "follow"
};

//  fetch("https://api.coursera.com/oauth2/client_credentials/token", requestOptions)
//    .then((response) => response.json())
//    .then(result => {
//     console.log(result);
//     const accessToken = result.access_token;
//     getUserProgress(accessToken);
// })
//    .catch(error => console.error(error));

function getUserProgress(accessToken) {
    const progressHeaders = new Headers();
    progressHeaders.append("Authorization", `Bearer ${accessToken}`);

    const progressRequestOptions = {
    method: "GET",
    headers: progressHeaders,
    redirect: "follow"
  };


}
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
        <a class=skip_lnk href="#main">Skip to content</a>
		<Header />
		<main id="main">
			<h1>🤔 What's Shara up to?</h1>
			<h2>Code</h2>
            <div class="code-stats">
            <div>
                <figure><embed src="https://wakatime.com/share/@Sharuto/63ed65e4-7cee-48bd-847e-7b832ba5f8d4.svg"></embed></figure>
        </div>
        <div>
            <figure><embed src="https://wakatime.com/share/@Sharuto/eb9330fa-96a5-4dfd-8972-3af4af3826d2.svg"></embed></figure>
        </div>
			<h2>
                Mindful Minutes
            </h2>
            <p>Here are a few ideas on how to get started with the template:</p>
			<ul>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/content/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to <a href="https://docs.astro.build/"
					>read the docs
				</a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out <a
					href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template
				</a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>

<style>
    .skip_lnk {
  position: absolute;
  padding: .5rem 1rem;
  color: var(--off-white);
  background-color: var(--nav-color);
  text-decoration: none;
  font-weight: bold;
  z-index: 10;
  transform: translate3d(.125rem, -5rem, 0);
  transition: transform .3s ease-out;
}
.skip_lnk:focus {
  transform: translate3d(.125rem, .125rem, 0);
  outline: #fff solid .125rem;
}
@media print {
  .skip_lnk {
    display: none;
  }
}

div {
    margin: 45px 0;
}

.code-table-stats {
    display: flex;
    max-width: 1200px;
    flex-direction: row;
}
</style>
